/* Header */
h1 {
  color: white;
}

.header-svg {
  display: none;
}

.text-3xl {
  font-size: 2.5rem;
  line-height: 2rem;
  margin: 0;
}

.search-svg2 {
  display: none;
}

@media (max-width: 700px) {
  .text-3xl {
    font-size: 2.5rem;
    line-height: 0rem;
  }
}

/* Error message */
.error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

/* Form */
.item-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 3rem 2rem 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-fields {
  margin-bottom: 2rem;
}

.form-fields input[type="text"],
.form-fields input[type="number"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.balance-chooser {
  padding: 1rem 0;
}

.font-bold {
  font-weight: bold;
}

.balance-option {
  display: flex;
  align-items: center;
}

.balance-option input[type="checkbox"] {
  margin-right: 0.5rem;
}

.submit-button input[type="submit"] {
  background-color: #3778c2;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button input[type="submit"]:hover {
  background-color: #285f9e;
}

.header-right {
  margin-left: 10rem;
  margin-top: -2rem;
}
